<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru - Course Name</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

    <style th:remove="all">
        .jumbotron {
            background: url('../static/images/SpringCoreJumbotron.jpg') no-repeat center center;
            height: 350px;
            color: white;
            text-shadow: #444 0 1px 1px;
        }

        body {
            color: #2b3636;
            font-family: "Proxima";
        }

        body {
            color: #333;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857;
        }

        .row {
            margin-left: -15px;
            margin-right: -15px;
        }

        *::before, *::after {
            box-sizing: border-box;
        }

        *::before, *::after {
            box-sizing: border-box;
        }

        .view-directory .course-listing {
            background-color: rgba(255, 255, 255, 0.7);
        }

        .course-listing {
            background-color: #f7f7f7;
            border: 1px solid #f1f3f0;
            border-radius: 9px;
            box-shadow: 0 1px #f1f3f0;
            cursor: pointer;
            height: 390px;
            margin-bottom: 50px;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        .course-listing .course-box-image-container {
            max-height: 208px;
            overflow: hidden;
        }

        .course-listing .course-box-image-container .course-box-image {
            border-bottom: 1px solid #ededed;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            display: block;
            margin: auto;
            width: 100%;
        }

        img {
            vertical-align: middle;
        }

        img {
            border: 0 none;
        }

        .course-listing .course-listing-title {
            color: #6cb44a;
            font-size: 18px;
            font-weight: bold;
            line-height: 25px;
            max-height: 70px;
            overflow: hidden;
            padding: 16px 16px 4px;
        }

        .course-listing .course-listing-subtitle {
            color: #586f6f;
            font-size: 14px;
            font-weight: 200;
            max-height: 65px;
            overflow: hidden;
            padding: 5px 16px;
        }

        .course-listing .course-listing-extra-info .course-price {
            color: #6eae50 !important;
            font-size: 15px;
            font-weight: bold;
            line-height: 34px;
            padding-right: 10px;
            text-align: right;
        }

        .course-listing .course-listing-extra-info .course-author-name {
            font-size: 15px;
            font-weight: 200;
            line-height: 30px;
            max-height: 30px;
            overflow: hidden;
            padding-left: 5px;
        }

        .course-listing .course-listing-extra-info .course-bundle {
            font-size: 15px;
            font-weight: 200;
            line-height: 30px;
        }
    </style>

</head>
<body>

<div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron">
    <div class="container">
        <h1>Spring Framework Guru</h1>
        <p class="lead" th:text="#{index.courses.tagline}">Online Courses for Spring Framework</p>
    </div>
</div>

<div class="container" style="height: 100vh;">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${product.courseName}">Spring Framework Guru - Course Name</h1>
        </div>
    </div>
    <div class="row course-listing">
        <div class="col-md-6">
           <div class="row">
               <div class="col-md-12">
                   <img src="../static/images/SpringIntroThumb.png"
                        th:src="@{'/images/'+${product.imageUrl}}"
                        class="center-block"/>
               </div>
           </div>
            <div class="row course-listing-extra-info col-xs-12">
                <div class="col-xs-8">
                    <img align="left" alt="John Thompson"
                         src="../static/images/instructor_jt.jpg"
                         th:src="@{'/images/'+${product.author.image}}"
                         class="img-circle"/>
                    <div class="small course-author-name" th:text="${(product.author.firstName)
                                                          + ' ' + (product.author.lastName)}">
                        Author Name
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="small course-price" th:text="${product.price > 0 ? '$' + product.price : 'FREE'}">
                        $PRICE
                    </div>
                </div>
            </div>
            <div class="row col-xs-12">
                <ol class="breadcrumb" >
                    <li th:each="productCategory : ${product.categories}">
                        <a href="#" th:text="${productCategory.category}">Cat 1</a></li>
                    <li th:remove="all"><a href="#">Cat 2</a></li>
                    <li th:remove="all"><a href="#">Cat 3</a></li>
                </ol>
            </div>
        </div>
        <div class="col-md-6">
             <div>
                 <h2 th:text="${product.courseSubtitle}">Course Title</h2>
                 <p th:text="${product.courseDescription}">Adipiscing magna vestibulum fringilla tristique ad a primis ante mi inceptos condimentum curabitur
                     curabitur eu sed nullam ridiculus nunc montes id nostra dui inceptos scelerisque posuere ipsum mus.
                     A scelerisque libero viverra eu condimentum mollis suscipit mi consectetur semper dis ipsum nisi
                     in nullam aliquet iaculis in eros euismod bibendum. Adipiscing volutpat fringilla bibendum duis a
                     maecenas eu lorem accumsan fames sem faucibus ad mauris aliquam nam. Torquent amet adipiscing fusce
                     fringilla venenatis tristique scelerisque natoque malesuada nostra duis nam augue ridiculus
                     pulvinar ultrices laoreet in condimentum justo id. Nascetur condimentum maecenas magna metus curae
                     est odio ad dui fames quam a aenean consequat faucibus nostra lorem adipiscing vestibulum
                     ullamcorper etiam consectetur. </p>
             </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-6 col-md-4">
            <button class="btn-success" th:text="#{button.buy.now}">Buy Now!</button>
        </div>
    </div>
</div>
<div class="container" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>
</body>
</html>